nav {
  display: flex;
  justify-content: flex-end;
}

p {
  font-size: 1.25rem;
  padding: 0.75rem;
  margin-top: 5px;
  text-decoration: underline;
  cursor: pointer;
}

.pure-menu-list.right {
  float: right;
}
