html,
body,
#app,
#app > div,
#root,
.app-container {
  height: 100%;
}

.App {
  text-align: center;
}

.app-container {
  display: flex;
  flex-flow: column;
}

.center {
  display: flex;
  justify-content: center;
}
